.block-state {
    text-align: center;
    margin: $base-unit-2x;

    p {
        padding: 0;
        margin: 0;
    }

    .block-card-container {
        display: flex;
        margin: auto;
        justify-content: center;

        .block-card {
            margin: $base-unit * 0.25;
        }
    }

    .pass {
        margin: $base-unit * 0.25;
    }
}