.chat-container {
    overflow: auto;
    height: 100px;
    display: flex;
    flex-direction: column-reverse;

    .chat-message {
        transform: translateZ(0); /* fixes a bug in Safari iOS where the scroller doesn't update */
        margin-left: $base-unit;
    }
}