.action-sheet-container {
    .card-action {
        margin: $base-unit-2x;
    }

    .game-row {
        display: flex;
        height: 50px;

        .game-row-item {
            align-self: center;
            flex: 1;
        }
    }
}