<div class="application-container">
    <div class="application">
        <NavBar />
        <div class="content-container">
            {{outlet}}
        </div>
        {{!-- <Footer /> --}}
    </div>
</div>