<div class="application-container">
    <div class="application">
        <div class="content-container">
            <NavBar />
            {{outlet}}
            <Footer />
        </div>
    </div>
</div>