{{page-title "Home"}}
<div class="content animate__animated animate__fadeIn">
    <div>
        <div>
            <BsForm
                @formLayout="vertical"
                @model={{this.user}}
                @onSubmit={{this.enterLobby}}
                as |form|
                >
                <form.element @property="username" as |el|>
                    <el.control placeholder="Enter your username"/>
                </form.element>
                <form.submitButton>Submit</form.submitButton>
            </BsForm>
        </div>
    </div>
</div>
{{outlet}}