{{page-title "Home"}}
<div class="landing-page">
    <h2 class="title">Online Coup</h2>
    <div>
        <BsForm
            @formLayout="vertical"
            @model={{this.user}}
            @onSubmit={{this.enterLobby}}
            as |form|
            >
            <form.element @property="username" as |el|>
                <el.control placeholder="Enter your username"/>
            </form.element>
            <form.submitButton>Enter Lobby</form.submitButton>
        </BsForm>
    </div>
    {{outlet}}
</div>