{{page-title "Home"}}
<div class="landing-page">
    <h2 class="title">Online Coup</h2>
    <div>
        <BsForm @model={{this.user}} @onSubmit={{this.enterLobby}} as |form|>
            <div class="row">
                <div class="col">
                    <form.element @property="username" as |el|>
                        <el.control placeholder="Enter your username" class="border-info" />
                    </form.element>
                </div>
                <div class="col-auto">
                    <form.submitButton>
                        <FaIcon @icon="right-to-bracket"/> Enter Lobby
                    </form.submitButton>
                </div>
            </div>
        </BsForm>
    </div>
    {{outlet}}
</div>