{{page-title "Games"}}
<div class="lobby">
    <h2>Lobby</h2>
    {{#each this.lobby as |player|}}
        <p class="player">{{player.name}}</p>
    {{/each}}
    <JoinCreateGame @games={{this.games}} />
</div>