<BsNavbar @type="dark" @backgroundColor="primary" @toggleBreakpoint={{'sm'}} as |navbar|>
  <div class="navbar-header">
    <navbar.toggle />
    <a class="navbar-brand" href="#">Coup</a>
  </div>
  <navbar.content>
    <navbar.nav as |nav|>
      {{#if this.session.isAuthenticated}}
        <nav.item>
            <button class="nav-link" type="button" {{on "click" this.invalidateSession}}>Sign Out</button>
        </nav.item>
      {{/if}}
    </navbar.nav>
  </navbar.content>
</BsNavbar>