.application-container {
    // background-color: $light-gray;

    .application {
        background-color: white;
        align-items: center;
        max-width: 600px;
        margin: auto;
        height: 100vh;
        //border-left: 1px solid black;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        color: $font-dark;
    }
}
