@import 'app/styles/animations.scss';

$danger: #dc3545;
$warning: #ffc107;

$ambassador: rgb(219, 161, 0);
$ambassador-subtle: rgb(252, 220, 139);
$assassin: rgb(42, 46, 64);
$assassin-subtle: rgb(162, 162, 189);
$captain: rgb(40, 40, 187);
$captain-subtle: #a0a0f1;
$contessa: red;
$contessa-subtle: rgb(255, 175, 175);
$duke: rgb(132, 29, 132);
$duke-subtle: rgb(202, 136, 222);
$unknown: rgb(118, 118, 118);
$unknown-subtle: rgb(245, 245, 245);

$light-gray: rgb(236, 236, 236);
$active-turn: red;

$base-unit: 8px;
$base-unit-2x: 16px;
$base-font-size: 17px;
$label-font-size: 14px;
