.landing-page {
    text-align: center;
    display: flex;
    flex-direction: column;
    //align-content: center;

    .title {
        margin: $base-unit-2x;
    }

    .sign-in-form {
        margin: $base-unit-2x;
    }
}