.create-game {
    margin: $base-unit;

    .create-game-title {
        margin-top: $base-unit-4x;
        display: flex;
        justify-content: center;

        .title {
            margin-left: $base-unit;
        }
    }
}