<div class="footer-container">
    <a href="https://github.com/shanecjones1999/coup" target="_blank" rel="noopener noreferrer">Source Code</a> 
    | 
    <a href="mailto:shanecjones1999@gmail.com" target="_blank" rel="noopener noreferrer">Careers</a> 
</div>