<div class="actions-selector">
    {{#each @actions as |action|}}
        <BsButton disabled={{or (gt action.cost @coins) (and (gte @coins 10) (not-eq action.id 3))}} {{on 'click' (fn @initiateAction action)}}>{{action.name}}</BsButton>
    {{/each}}
</div>