@import 'app/styles/globals.scss';

.player-info {
    margin: auto;
    border: 1px solid black;
    border-radius: 0.375rem;
    padding: 10px;
    //cursor: default;
    &:hover {
        cursor: default!important;
    }

    &.select {
        //box-shadow: 0px 0px 8px 3px rgba(65, 81, 41, 0.5)!important;
        //box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
        //transform: scale(1);

        @include pulse-radius(2s, infinite, red);
	    //animation: pulse2 2s infinite;
    }

    &.select:hover {
        cursor: pointer!important;
    }

    &.is-turn {
        box-shadow: 0px 0px 8px 3px rgba(255, 136, 136, 0.5);
        //background-color: rgb(255, 196, 196);
    }

    .player-cards {
        display: flex;
    }
}

@keyframes pulse2 {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}