.player {
    margin: auto;
    border: 1px solid black;
    border-radius: 0.375rem;
    padding: 10px;

    &.is-turn {
        box-shadow: 0px 0px 8px 3px rgba(255, 136, 136, 0.5);
        //background-color: rgb(255, 196, 196);
    }

    &.highlight {
        border: 2px solid purple;
    }

    .player-cards {
        display: flex;
    }
}