.player {
    margin: auto;
    border: none;

    &.is-turn {
        background-color: rgb(255, 196, 196);
    }

    &.highlight {
        border: 2px solid purple;
        cursor: pointer;
    }
    
    p {
        margin: 0px;
    }
}